Scacchi/FortinoRosaliaClientWS_Scacchi/xml-resources/web-service-references/PartitaEJB/wsdl/localhost_8080/PartitaEJBService/PartitaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="PartitaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/PartitaEJBService/PartitaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="findByMosse">
<part name="parameters" element="tns:findByMosse"/>
</message>
<message name="findByMosseResponse">
<part name="parameters" element="tns:findByMosseResponse"/>
</message>
<message name="createPartita">
<part name="parameters" element="tns:createPartita"/>
</message>
<message name="createPartitaResponse">
<part name="parameters" element="tns:createPartitaResponse"/>
</message>
<message name="findByTipo">
<part name="parameters" element="tns:findByTipo"/>
</message>
<message name="findByTipoResponse">
<part name="parameters" element="tns:findByTipoResponse"/>
</message>
<message name="findByGiocatori">
<part name="parameters" element="tns:findByGiocatori"/>
</message>
<message name="findByGiocatoriResponse">
<part name="parameters" element="tns:findByGiocatoriResponse"/>
</message>
<message name="updatePartita">
<part name="parameters" element="tns:updatePartita"/>
</message>
<message name="updatePartitaResponse">
<part name="parameters" element="tns:updatePartitaResponse"/>
</message>
<message name="deletePartita">
<part name="parameters" element="tns:deletePartita"/>
</message>
<message name="deletePartitaResponse">
<part name="parameters" element="tns:deletePartitaResponse"/>
</message>
<message name="findByRisultato">
<part name="parameters" element="tns:findByRisultato"/>
</message>
<message name="findByRisultatoResponse">
<part name="parameters" element="tns:findByRisultatoResponse"/>
</message>
<message name="findByRatings">
<part name="parameters" element="tns:findByRatings"/>
</message>
<message name="findByRatingsResponse">
<part name="parameters" element="tns:findByRatingsResponse"/>
</message>
<portType name="PartitaEJB">
<operation name="findAll">
<input wsam:Action="http://ejb/PartitaEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ejb/PartitaEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://ejb/PartitaEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://ejb/PartitaEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="findByMosse">
<input wsam:Action="http://ejb/PartitaEJB/findByMosseRequest" message="tns:findByMosse"/>
<output wsam:Action="http://ejb/PartitaEJB/findByMosseResponse" message="tns:findByMosseResponse"/>
</operation>
<operation name="createPartita">
<input wsam:Action="http://ejb/PartitaEJB/createPartitaRequest" message="tns:createPartita"/>
<output wsam:Action="http://ejb/PartitaEJB/createPartitaResponse" message="tns:createPartitaResponse"/>
</operation>
<operation name="findByTipo">
<input wsam:Action="http://ejb/PartitaEJB/findByTipoRequest" message="tns:findByTipo"/>
<output wsam:Action="http://ejb/PartitaEJB/findByTipoResponse" message="tns:findByTipoResponse"/>
</operation>
<operation name="findByGiocatori">
<input wsam:Action="http://ejb/PartitaEJB/findByGiocatoriRequest" message="tns:findByGiocatori"/>
<output wsam:Action="http://ejb/PartitaEJB/findByGiocatoriResponse" message="tns:findByGiocatoriResponse"/>
</operation>
<operation name="updatePartita">
<input wsam:Action="http://ejb/PartitaEJB/updatePartitaRequest" message="tns:updatePartita"/>
<output wsam:Action="http://ejb/PartitaEJB/updatePartitaResponse" message="tns:updatePartitaResponse"/>
</operation>
<operation name="deletePartita">
<input wsam:Action="http://ejb/PartitaEJB/deletePartitaRequest" message="tns:deletePartita"/>
<output wsam:Action="http://ejb/PartitaEJB/deletePartitaResponse" message="tns:deletePartitaResponse"/>
</operation>
<operation name="findByRisultato">
<input wsam:Action="http://ejb/PartitaEJB/findByRisultatoRequest" message="tns:findByRisultato"/>
<output wsam:Action="http://ejb/PartitaEJB/findByRisultatoResponse" message="tns:findByRisultatoResponse"/>
</operation>
<operation name="findByRatings">
<input wsam:Action="http://ejb/PartitaEJB/findByRatingsRequest" message="tns:findByRatings"/>
<output wsam:Action="http://ejb/PartitaEJB/findByRatingsResponse" message="tns:findByRatingsResponse"/>
</operation>
</portType>
<binding name="PartitaEJBPortBinding" type="tns:PartitaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByMosse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByGiocatori">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByRisultato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByRatings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartitaEJBService">
<port name="PartitaEJBPort" binding="tns:PartitaEJBPortBinding">
<soap:address location="http://localhost:8080/PartitaEJBService/PartitaEJB"/>
</port>
</service>
</definitions>