Scacchi/FortinoRosaliaClientWS_Scacchi/xml-resources/web-service-references/PartitaEJB/wsdl/localhost_8080/PartitaEJBService/PartitaEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="createPartita" type="tns:createPartita"/>

<xs:element name="createPartitaResponse" type="tns:createPartitaResponse"/>

<xs:element name="deletePartita" type="tns:deletePartita"/>

<xs:element name="deletePartitaResponse" type="tns:deletePartitaResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findByGiocatori" type="tns:findByGiocatori"/>

<xs:element name="findByGiocatoriResponse" type="tns:findByGiocatoriResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="findByMosse" type="tns:findByMosse"/>

<xs:element name="findByMosseResponse" type="tns:findByMosseResponse"/>

<xs:element name="findByRatings" type="tns:findByRatings"/>

<xs:element name="findByRatingsResponse" type="tns:findByRatingsResponse"/>

<xs:element name="findByRisultato" type="tns:findByRisultato"/>

<xs:element name="findByRisultatoResponse" type="tns:findByRisultatoResponse"/>

<xs:element name="findByTipo" type="tns:findByTipo"/>

<xs:element name="findByTipoResponse" type="tns:findByTipoResponse"/>

<xs:element name="partita" type="tns:partita"/>

<xs:element name="updatePartita" type="tns:updatePartita"/>

<xs:element name="updatePartitaResponse" type="tns:updatePartitaResponse"/>

<xs:complexType name="updatePartita">
<xs:sequence>
<xs:element name="arg0" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partita">
<xs:sequence>
<xs:element name="conclusa" type="xs:boolean"/>
<xs:element name="g1" type="xs:string" minOccurs="0"/>
<xs:element name="g2" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="mosse" type="xs:string" minOccurs="0"/>
<xs:element name="r1" type="xs:int"/>
<xs:element name="r2" type="xs:int"/>
<xs:element name="risultato" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePartitaResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByRisultato">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByRisultatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePartita">
<xs:sequence>
<xs:element name="arg0" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePartitaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findByMosse">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByMosseResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByTipo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByTipoResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPartita">
<xs:sequence>
<xs:element name="arg0" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPartitaResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByRatings">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByRatingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByGiocatori">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByGiocatoriResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>