Bambino/FortinoRosaliaClientWS/src/META-INF/wsdl/localhost_8080/BambinoEJBService/BambinoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://babbonatale/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://babbonatale/" name="BambinoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://babbonatale/" schemaLocation="http://localhost:8080/BambinoEJBService/BambinoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<message name="updateBambino">
<part name="parameters" element="tns:updateBambino"/>
</message>
<message name="updateBambinoResponse">
<part name="parameters" element="tns:updateBambinoResponse"/>
</message>
<message name="deleteBambino">
<part name="parameters" element="tns:deleteBambino"/>
</message>
<message name="deleteBambinoResponse">
<part name="parameters" element="tns:deleteBambinoResponse"/>
</message>
<message name="createBambino">
<part name="parameters" element="tns:createBambino"/>
</message>
<message name="createBambinoResponse">
<part name="parameters" element="tns:createBambinoResponse"/>
</message>
<message name="findByEta">
<part name="parameters" element="tns:findByEta"/>
</message>
<message name="findByEtaResponse">
<part name="parameters" element="tns:findByEtaResponse"/>
</message>
<message name="findByStato">
<part name="parameters" element="tns:findByStato"/>
</message>
<message name="findByStatoResponse">
<part name="parameters" element="tns:findByStatoResponse"/>
</message>
<message name="findByNumFamiliari">
<part name="parameters" element="tns:findByNumFamiliari"/>
</message>
<message name="findByNumFamiliariResponse">
<part name="parameters" element="tns:findByNumFamiliariResponse"/>
</message>
<portType name="BambinoEJB">
<operation name="findAll">
<input wsam:Action="http://babbonatale/BambinoEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://babbonatale/BambinoEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://babbonatale/BambinoEJB/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://babbonatale/BambinoEJB/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="updateBambino">
<input wsam:Action="http://babbonatale/BambinoEJB/updateBambinoRequest" message="tns:updateBambino"/>
<output wsam:Action="http://babbonatale/BambinoEJB/updateBambinoResponse" message="tns:updateBambinoResponse"/>
</operation>
<operation name="deleteBambino">
<input wsam:Action="http://babbonatale/BambinoEJB/deleteBambinoRequest" message="tns:deleteBambino"/>
<output wsam:Action="http://babbonatale/BambinoEJB/deleteBambinoResponse" message="tns:deleteBambinoResponse"/>
</operation>
<operation name="createBambino">
<input wsam:Action="http://babbonatale/BambinoEJB/createBambinoRequest" message="tns:createBambino"/>
<output wsam:Action="http://babbonatale/BambinoEJB/createBambinoResponse" message="tns:createBambinoResponse"/>
</operation>
<operation name="findByEta">
<input wsam:Action="http://babbonatale/BambinoEJB/findByEtaRequest" message="tns:findByEta"/>
<output wsam:Action="http://babbonatale/BambinoEJB/findByEtaResponse" message="tns:findByEtaResponse"/>
</operation>
<operation name="findByStato">
<input wsam:Action="http://babbonatale/BambinoEJB/findByStatoRequest" message="tns:findByStato"/>
<output wsam:Action="http://babbonatale/BambinoEJB/findByStatoResponse" message="tns:findByStatoResponse"/>
</operation>
<operation name="findByNumFamiliari">
<input wsam:Action="http://babbonatale/BambinoEJB/findByNumFamiliariRequest" message="tns:findByNumFamiliari"/>
<output wsam:Action="http://babbonatale/BambinoEJB/findByNumFamiliariResponse" message="tns:findByNumFamiliariResponse"/>
</operation>
</portType>
<binding name="BambinoEJBPortBinding" type="tns:BambinoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBambino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBambino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBambino">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByEta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByStato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByNumFamiliari">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BambinoEJBService">
<port name="BambinoEJBPort" binding="tns:BambinoEJBPortBinding">
<soap:address location="http://localhost:8080/BambinoEJBService/BambinoEJB"/>
</port>
</service>
</definitions>