Bambino/FortinoRosaliaClientWS/src/META-INF/wsdl/localhost_8080/BambinoEJBService/BambinoEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://babbonatale/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://babbonatale/">

<xs:element name="bambino" type="tns:bambino"/>

<xs:element name="createBambino" type="tns:createBambino"/>

<xs:element name="createBambinoResponse" type="tns:createBambinoResponse"/>

<xs:element name="deleteBambino" type="tns:deleteBambino"/>

<xs:element name="deleteBambinoResponse" type="tns:deleteBambinoResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findByEta" type="tns:findByEta"/>

<xs:element name="findByEtaResponse" type="tns:findByEtaResponse"/>

<xs:element name="findById" type="tns:findById"/>

<xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

<xs:element name="findByNumFamiliari" type="tns:findByNumFamiliari"/>

<xs:element name="findByNumFamiliariResponse" type="tns:findByNumFamiliariResponse"/>

<xs:element name="findByStato" type="tns:findByStato"/>

<xs:element name="findByStatoResponse" type="tns:findByStatoResponse"/>

<xs:element name="updateBambino" type="tns:updateBambino"/>

<xs:element name="updateBambinoResponse" type="tns:updateBambinoResponse"/>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bambino">
<xs:sequence>
<xs:element name="citta" type="xs:string" minOccurs="0"/>
<xs:element name="cognome" type="xs:string" minOccurs="0"/>
<xs:element name="eta" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="numFamiliari" type="xs:int"/>
<xs:element name="paese" type="xs:string" minOccurs="0"/>
<xs:element name="priorita" type="xs:string" minOccurs="0"/>
<xs:element name="stato" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBambino">
<xs:sequence>
<xs:element name="arg0" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBambinoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findByEta">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByEtaResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByNumFamiliari">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByNumFamiliariResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBambino">
<xs:sequence>
<xs:element name="arg0" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBambinoResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBambino">
<xs:sequence>
<xs:element name="arg0" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBambinoResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByStato">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByStatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:bambino" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>